.commentsContainer {
    height: 90vh;

}

.imagesComments {
    position: relative;

}

.icon {
    width: 80px;
    cursor: pointer;
}

.comic {
    width: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: fadeIn 5s infinite;
}

.commentsSection {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 21, 26);
    padding: 2rem;
    border-radius: 10px;
    z-index: 4000;
    width: 100%;
    height: 95vh;

}

.flexImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50vw;
    padding: 20px;
}

.imgComment {
    width: 40vw;
    height: 95vh;
    object-fit: fill;
    border-radius: 5px;


}

.commentsList {
    margin-top: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    max-height: 100vh;
    white-space: pre-wrap;
    font-size: 1.5rem;


}

span {
    font-family: "Fright";

}

.listVignette {
    width: 15px;
}

.commentsList::-webkit-scrollbar {
    display: none;
}

.controlCommentsWImg {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 95vh;
    position: relative;
    padding: 20px;

}

.controlComments {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

textarea {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(39, 43, 53, 0.9);
    color: white;
    border: none;
    resize: none;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
}

input[type="text"] {
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(39, 43, 53, 0.9);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    resize: none;
    font-size: 1.5rem;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: "Fright";
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .commentsSection {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .flexImg {
        display: none;
    }

    .commentsList {
        width: 100%;
        height: 50vh;
        font-size: 1rem;
    }

    .controlCommentsWImg {
        width: 100vw;

        height: 100vh;
        padding: 0px;
    }




    .controlComments {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        height: 25vh;
    }

    textarea {
        width: 80%;
        height: 30px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(39, 43, 53, 0.9);
        color: white;
        border: none;
        resize: none;
        border-bottom: 1px solid white;
        font-size: 1.2rem;
    }

    input[type="text"] {
        font-size: 1.2rem;
        width: 80%;
    }
}

@media (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 1024px) and (orientation: landscape) and (min-resolution: 192dpi) {
    .flexImg {
        display: none;
    }

    .commentsList {
        font-size: 1rem;
        width: 100vw;
        height: 50vh;
        margin-left: 10px;

        padding-left: 20px;
    }

    .controlComments {
        margin-right: 20px;
    }

    .controlCommentsWImg {
        width: 100vw;
        height: 100vh;
        padding: 0px;
    }

    textarea {
        width: 30%;
        height: 30px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(39, 43, 53, 0.9);
        color: white;
        border: none;
        resize: none;
        border-bottom: 1px solid white;
        font-size: 1rem;
    }

    input[type="text"] {
        height: 30px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(39, 43, 53, 0.9);
        color: white;
        border: none;
        border-bottom: 1px solid white;
        resize: none;
        font-size: 1rem;


    }
}