.imagesComments {
    position: relative;

}

.icon {
    width: 80px;
    cursor: pointer;
}

.comic {
    width: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: fadeIn 5s infinite;
}

.commentsSection {

    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 21, 26, 0.9);
    padding: 2rem;
    border-radius: 10px;
    z-index: 4000;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */


}

.flexImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgComment {
    width: 40vw;
    height: 50vh;
    object-fit: fill;
    border-radius: 5px;
}

.commentsList {
    margin-top: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    border-top: 0.5px solid #84878b;
    border-bottom: 0.5px solid #84878b;
    font-family: "Fright";
    /* width: 25vw; */

}

.listVignette{
    width: 15px;
}
::-webkit-scrollbar {
    display: none;
}

.controlCommentsWImg {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* margin-top: 10px; */
    /* background-color: rgba(39, 43, 53, 0.9); */
    width: 50vw;
    height: 100%;
    position: relative;
}

.controlComments {
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
   
}

textarea{
    width: 80%;
    /* height: 100px; */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(39, 43, 53, 0.9);
    color: white;
    border: none;
    resize: none;
    font-family: "Fright";
}
input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
input[type="text"] {
    /* width: 80%; */
    /* height: 100px; */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(39, 43, 53, 0.9);
    color: white;
    border: none;
    border-left: 1px solid white;
    resize: none;
    font-family: "Fright";
    
}

button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: "Fright";
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}