.imagesComments {
    position: relative;
}

.icon {
    width: 80px;
    cursor: pointer;
}

.comic {
    width: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: fadeIn 5s infinite;
}

.commentsSection {

    /* display: none; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 21, 26, 0.9);
    padding: 2rem;
    border-radius: 10px;
    z-index: 4000;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}