.imagesComments {
    position: relative;
}

.icon {
    width: 80px;
    cursor: pointer;
}

.comic {
    width: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    animation: fadeIn 5s infinite;
}

.commentsSection {
    
    display: flex;
    justify-content: space-between;
  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}