  @font-face {
      font-family: "Fright";
      src: url(../fright_maiden/Fright\ Maiden\ Demo.ttf) format("truetype");
  }

  .uploaded {
      color: white;
      font-family: "Fright";
      text-align: center;
  }

  .imageGalleryContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      flex-grow: 1;
      position: relative;

  }

  .imageGallery {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vh;
      height: 50vh;
      background-color: #23262d;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      border-radius: 10px;

  }

  .galleryImage {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 5px;
      box-shadow: 0 0 35px #0FF;



  }

  .arrow {

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 5%;
  }

  .arrow.left {
      left: 10px;
  }

  .arrow.right {
      right: 10px;
  }

  @media (max-width: 768px) {
      .imageGalleryContainer {
          justify-content: center;
      }

      .arrow {
          width: 10%;
      }

      .imageGallery {
          width: 40vh;
          height: 40vh;
      }
  }

  @media (max-width: 480px) {
      .arrow {
          display: none;
      }

      .imageGallery {
          width: 80vw;
          height: 80vw;
      }


  }

  @media (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 1024px) and (orientation: landscape) and (min-resolution: 192dpi) {
      .arrow {
          display: none;
      }

      .uploaded {
          /* font-size: 0.9rem; */
          display: none;

      }
  }