---
interface Props {
  backgroundImg: string;
  cardText: string;
  colorText: string;
}

const { backgroundImg, cardText, colorText } = Astro.props;
const backgroundUrl = `url(/${backgroundImg})`;
---

<div class="img-card" style={`background-image: ${backgroundUrl}`}><span style={`color: ${colorText}`} class="card-text">{cardText}</span></div>


<style>
  .img-card {
    width: 150px;
    height: 150px;
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-size: cover;
    border-radius: 7px;
    background-position: center;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .img-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .img-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }

  .card-text {
   
 
    
    font-size: 1.5rem;
    color: black;
    
  }
</style>
