---
import Layout from "./Layout.astro";
import Imgs from "../components/Imgs";

interface Props {
  sectionTitle: string;
}
const links = [
  { href: "/", text: "HOME" },
  { href: "/cinema", text: "CINEMA" },
  { href: "/tv", text: "TV" },
  { href: "/comic", text: "COMIC" },
  { href: "/others", text: "OTHERS" },
];
const { sectionTitle } = Astro.props;

const filterLinks = links.filter(
  (link) => link.text !== Astro.props.sectionTitle
);
---

<Layout title="the traces of terror">
  <div class="galleryHeader">
    <h1>{sectionTitle}</h1>
    <div class="links">
      {filterLinks.map((link) => <a href={link.href}>{link.text}</a>)}
    </div>
    <div class="controlButtons">
      <button class="fileUpload custom-file-upload" id="fileUp"
        >UPLOAD IMAGE</button
      >
    </div>
  </div>
  <div>
    <Imgs client:load />
  </div>
  <div class="fileUploadContainer">
    <div class="imgForm">
      <label for="uploader">Uploader:</label>
      <input
        type="text"
        name="uploaded"
        placeholder="email or username (optional)"
        maxlength="35"
      />
    </div>
    <div class="imgForm">
      <label for="type">Type:</label>
      <select name="type" id="type">
        <option value="cinema">Cinema</option>
        <option value="tv">TV</option>
        <option value="comic">Comic</option>
        <option value="others">Others</option>
      </select>
    </div>
    <div class="imgForm">
      <label for="description">Description: </label>
      <input
        type="text"
        name="description"
        placeholder="The image belongs to (optional)"
        id="description"
        maxlength="40"
      />
    </div>
    <div class="imgButtons">
      <label for="file-upload" class="custom-file-upload labelFileUpload"
        >Upload Image</label
      >
      <input id="file-upload" type="file" />
      <button class="custom-file-upload" id="close">CLOSE</button>
    </div>
  </div>
  <div class="commentsContainer" id="openComments">
    <div class="commentsForm">
      <label for="comments">Write your comment:</label>
      <textarea name="comments" id="" rows="10" cols="40"></textarea>
      <button class="custom-file-upload" id="closeComments">CLOSE</button>
    </div>
  </div>
</Layout>

<style>
  @font-face {
    font-family: "Fright";
    src: url(../fright_maiden/Fright\ Maiden\ Demo.ttf) format("truetype");
    font-display: swap;
  }

  .galleryHeader {
    text-align: center;
    font-family: "Fright";
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #23262d;
    border-bottom: 0.5px solid #84878b;
    z-index: 3000;
    padding-bottom: 1rem;
  }

  .galleryHeader a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .links a {
    margin: 0 1rem;
    font-family: "Fright";
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  .controlButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 10vw;
  }
  .fileUploadContainer,
  .commentsContainer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(19, 21, 26, 0.9);
    padding: 2rem;
    border-radius: 10px;
    z-index: 1000;
  }
  #file-upload {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #23262d;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-family: "Fright";
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin: auto 1rem;
  }
  .custom-file-upload:hover {
    background-color: #3a3d44;
  }
  .imgForm,
  .commentsForm {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .commentsForm {
    align-items: center;
  }

  label {
    display: inline-block;
    width: 90px;
    color: white;
    font-family: "Fright";
  }
  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Fright";
    color: black;
    border-radius: 5px;
    flex: 1;
  }
  .commentsForm label {
    width: 150px;
  }
  .labelFileUpload {
    margin-top: 20px;
    height: 15px;
    font-size: small;
  }
  .imgButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #fileUp {
    width: 120px;
  }
  #close {
    margin-top: 20px;
    width: 140px;
  }
  #closeComments {
    margin-top: 20px;
    width: 140px;
  }
 @media (max-width: 480px){
  .galleryHeader h1{
    font-size: 1.5rem;
  }
 }
  @media (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 1024px) and (orientation: landscape) and (min-resolution: 192dpi) {
    .galleryHeader {
      position: static;
    }
  }
</style>
