---
import Layout from "./Layout.astro";
import type { APIRoute } from "astro";
import Imgs from "../components/Imgs";
interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
const arrowLeft = "/imgs/arrow-left.svg";
const arrowRight = "/imgs/arrow-right.svg";
const response = await fetch("http://127.0.0.1:8000/api/v1/images");
// const response = await fetch(
//   "https://www.thetracesofterrorback.piterxus.com/api/v1/images"
// );
const data = await response.json();
const imgs = data.map((img: any) => img.path);

console.log(imgs);
---

<Layout title="the traces of terror">
  <div class="gallery">
    <div class="galleryHeader">
      <h1>{sectionTitle}</h1>
      <a href="/">BACK</a>
    </div>
    <Imgs client:load />
    <!-- <div class="imageGalleryContainer">
      <img class="arrow left" src={arrowLeft} alt="Left Arrow" id="left" />
      <div class="imageGallery">
        <img
          src={`http://127.0.0.1:8000/images/${imgs[0]}`}
          alt="Gallery Image"
          class="galleryImage"
        />
      </div>
      <img class="arrow right" src={arrowRight} alt="Right Arrow" id="right" />
    </div> -->
    <div class="fileUploadContainer">
      <label for="file-upload" class="custom-file-upload"> Upload Image </label>
      <input id="file-upload" type="file" />
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const fileUpload = document.getElementById(
        "file-upload"
      ) as HTMLInputElement | null;

      if (!fileUpload) {
        console.error("File upload input not found");
        return;
      }

      fileUpload.addEventListener("change", async (e) => {
        if (!fileUpload.files || fileUpload.files.length === 0) {
          alert("Please select a file to upload.");
          return;
        }

        const formData = new FormData();
        const file = fileUpload.files[0];
        formData.append("image", file);
        // ("https://www.thetracesofterrorback.piterxus.com/api/v1/images");
        try {
          const response = await fetch("http://127.0.0.1:8000/api/v1/images", {
            method: "POST",
            body: formData,
          });
          // try {
          //   const response = await fetch(
          //     "https://www.thetracesofterrorback.piterxus.com/api/v1/images",
          //     {
          //       method: "POST",
          //       body: formData,
          //     }
          //   );

          const result = await response.json();

          if (response.ok) {
            alert("Image uploaded successfully: " + result.path);
            window.location.reload();
            // Aquí podrías agregar la lógica para mostrar la imagen en tu galería
          } else {
            alert("Error uploading image: " + result.error);
          }
        } catch (error) {
          if (error instanceof Error) {
            alert("Error uploading image: " + error.message);
          } else {
            alert("Unexpected error uploading image");
          }
        }
      });
    });
  </script>
</Layout>

<style>
  @font-face {
    font-family: "Fright";
    src: url(../fright_maiden/Fright\ Maiden\ Demo.ttf) format("truetype");
  }
  body {
    margin: 0;
    overflow: hidden; /* Evita el scroll vertical */
  }
  h1,
  a {
    text-align: center;
    font-family: "Fright";
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
  }
  .gallery {
    background-color: #13151a;
    height: 90vh; /* Asegúrate de que ocupe toda la altura de la ventana */
    width: 90vw;
    border-radius: 10px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
  }

  .galleryHeader {
    text-align: center;
    padding: 1rem;
  }

  .imageGalleryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    position: relative; /* Asegura que el contenedor tenga posicionamiento relativo */
  }
  .imageGallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    background-color: #23262d;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* background-image: url("http://127.0.0.1:8000/images/1719856396.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
  .galleryImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow.left {
    left: 10px;
  }
  .arrow.right {
    right: 10px;
  }
  .fileUploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #file-upload {
    display: none; /* Oculta el input real */
  }
  .custom-file-upload {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #23262d;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-family: "Fright";
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  .custom-file-upload:hover {
    background-color: #3a3d44;
  }

  @media (max-width: 768px) {
    .imageGalleryContainer {
      justify-content: center;
    }
    .arrow {
      width: 10%;
    }
    .imageGallery {
      width: 40vh;
      height: 40vh;
    }
  }

  @media (max-width: 480px) {
    .arrow {
      display: none;
    }
    .imageGallery {
      width: 80vw;
      height: 80vw;
    }
    .fileUploadContainer {
      position: static;
      transform: none;
      margin-top: 1rem;
    }
    .custom-file-upload {
      width: 80%;
      text-align: center;
    }
  }
</style>
