---
import Layout from "./Layout.astro";
interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
---

<Layout title="the traces of terror">
  <div class="gallery">
    <h1>{sectionTitle}</h1>
    <div class="imageGallery"></div>
  </div>
</Layout>

<style>
  @font-face {
    font-family: "Fright";
    src: url(../fright_maiden/Fright\ Maiden\ Demo.ttf) format("truetype");
  }
  h1 {
    text-align: center;
    font-family: "Fright";
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  .gallery {
    background-color: #13151a;
    height: 90vh;
    width: 90vw;
    border-radius: 10px;
    margin: auto;
    position: relative;
  }
  .imageGallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    background-color: #23262d;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
</style>
