---
import Layout from "./Layout.astro";
import Imgs from "../components/Imgs";

interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props;
---

<Layout title="the traces of terror">
  <div class="gallery">
    <div class="galleryHeader">
      <h1>{sectionTitle}</h1>
      <a href="/">BACK</a>
    </div>
    <Imgs client:load />
    <button class="fileUpload custom-file-upload" id="fileUp"
      >UPLOAD IMAGE</button
    >

    <div class="fileUploadContainer">
      <div class="imgForm">
        <label for="uploader">Uploader:</label>
        <input
          type="text"
          name="uploaded"
          placeholder="email or username (optional)"
        />
      </div>
      <div class="imgForm">
        <label for="type">Type:</label>
        <select name="type" id="type">
          <option value="cinema">Cinema</option>
          <option value="tv">TV</option>
          <option value="comic">Comic</option>
          <option value="others">Others</option>
        </select>
      </div>
      <div class="imgForm">
        <label for="file-upload" class="custom-file-upload">Upload Image</label>
        <input id="file-upload" type="file" />
        <button class="custom-file-upload" id="close">CLOSE</button>
      </div>
    </div>
  </div>
</Layout>
<style>
  @font-face {
    font-family: "Fright";
    src: url(../fright_maiden/Fright\ Maiden\ Demo.ttf) format("truetype");
  }
  body {
    margin: 0;
    overflow: hidden;
  }
  h1,
  a {
    text-align: center;
    font-family: "Fright";
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
  }
  .gallery {
    background-color: #13151a;
    height: 90vh;
    width: 90vw;
    border-radius: 10px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .galleryHeader {
    text-align: center;
    padding: 1rem;
  }
  .fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fileUploadContainer {
    /* display: flex; */
    display: none;
    justify-content: center;
    /*  align-items: center; */
    margin-top: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  #file-upload {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #23262d;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-family: "Fright";
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin: auto 1rem;
  }
  .custom-file-upload:hover {
    background-color: #3a3d44;
  }

  .imgForm {
    margin: 5px;
    display: flex;
  }

  label {
    display: inline-block;
    width: 80px;
    color: white;
    font-family: "Fright";
  }
  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Fright";
    color: black; /* Ajuste para el color del texto */
    border-radius: 5px;
    flex: 1; /* Expande el input/select para llenar el espacio restante */
  }

  #close {
    width: 140px;
  }
  @media (max-width: 480px) {
    .fileUploadContainer {
      position: static;
      transform: none;
      margin-top: 5rem;
      flex-direction: column;
    }
    .custom-file-upload {
      width: 80%;
      text-align: center;
    }
    input,
    select {
      width: 80%;
    }
  }
</style>
